.leftBar__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  border: 2px solid rgb(161, 159, 159);
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-top: 30px;
  padding: 20px;

  .leftBar__container-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
    height: 300px;
    border: 2px solid rgb(161, 159, 159);
    border-right: none;
    border-left: none;
    border-bottom: none;

    h3 {
      margin-top: 40px;
      margin-left: 30px;
    }

    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 400px;
      height: 250px;
    }

    li {
      display: flex;
      border-radius: 15px;
      font-weight: 750;
      margin-top: 20px;
      cursor: pointer;
      list-style: none;

      input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-top: 2px;
      }
    }
  }

  &.open {
    .leftBar__content {
      display: block;
      animation: slideIn 0.5s ease-in-out;
    }
  }

  @media screen and (max-width: 540px) {

    .leftBar__container-box {
      border: none !important;
      margin-top: 0;
    }

    .leftBar__container-box h3 {
      margin-top: 20px;
      margin-left: 20px;
    }

    .leftBar__container-box ul {
      width: 100%;
      height: auto;
      border: none !important;
    }

    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateY(-100%);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .leftBar__content-none {
      display: none;
    }
  }


}

.leftBar__content-none {
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .leftBar__container {
    border-right: none !important;
  }

  .leftBar__content {
    border: 2px solid rgb(161, 159, 159);
    border-left: none;
    border-right: none;
    border-top: none;
  }
}