.basket-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 100% !important;
    top: 0;
    background: rgb(203, 203, 203);
    position: absolute;
    right: 0;
    z-index: 2;
    color: black;

    h2 {
        margin-top: 20px;
    }

    .basket-modal__box {
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 480px;
        overflow: auto;
        padding: 20px;

        .basket-modal__list {

            .basket-modal__list-top {
                background: white;
                display: flex;
                align-items: center;
                border-radius: 20px;
                padding: 20px;
                justify-content: flex-start;
                height: 140px;
                margin-top: 10px;

                &:hover {
                    box-shadow: 0 0 4px 4px rgb(114, 114, 114);
                }

                p {
                    margin-top: 30px;
                    margin-left: 20px;
                }
            }

            .basket-modal__list-alt {
                display: flex;
                align-items: center;
                margin-top: 10px;

                input {
                    width: 80px;
                    height: 30px;
                }

                .count-controls {
                    margin-left: 30px;
                }
            }

            .basket-modal__list-amount {
                margin-top: 20px;
            }

            img {
                width: 100px;
                height: 100px;
            }

            button {
                width: 60px;
                height: 30px;
                border-style: none;
                border-radius: 20px;
            }

            .basket-modal__list-icon {
                cursor: pointer;
                margin-left: 20px;
                font-size: 30px;
                color: red;

                &:hover {
                    color: rgb(255, 54, 54);
                }
            }

        }
    }

    .basket-model__close {
        cursor: pointer;
        border-style: none;
        width: 160px;
        height: 60px;
        font-weight: 750;
        color: white;
        background: rgb(255, 179, 0);
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            background: rgb(255, 225, 73);
        }
    }
}

@media screen and (max-width: 540px) {
    .basket-modal{
        display: flex;
        width: 100% !important;
        height: 100% !important;
        align-content: center;
        padding: 40px;
    }
    .basket-modal__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .basket-modal__list-top{
        display: flex;
        height: 160px !important;
        width: 350px;
    }
}