@import 'bootstrap/scss/bootstrap';

.content-container {
    display: flex;
    margin-top: 30px;

    .product-list {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        overflow: auto;

        .product-container {
            display: flex;
            align-items: center;

            .product-object {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                width: 300px;
                border: 2px solid rgb(181, 181, 187);
                border-radius: 20px;
                margin-left: 30px;
                background: white;
                height: 480px;

                &:hover {
                    box-shadow: 0 0 4px 4px rgb(114, 114, 114);
                }


                .product-object__list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        display: flex;
                        font-size: 16px;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 16px;
                        margin-left: 200px;
                    }

                    .product-object__hr {
                        width: 200px;
                        border: 2px solid black;
                    }

                    img {
                        display: flex;
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }

                }


                .product-object-button {
                    display: flex;
                    background: rgb(247, 213, 62);
                    cursor: pointer;
                    color: white;
                    border-style: none;
                    border-radius: 20px;
                    font-size: 16px;
                    box-shadow: 0 0 3px 2px rgb(255, 255, 255);
                    font-weight: 600;

                    p {
                        margin: 8px 14px 8px 14px;
                    }

                    &:hover {
                        background: rgb(252, 219, 69);
                        transform: scale(0.9);
                    }
                }

                .product-object-button-remove {
                    display: flex;
                    margin-top: 20px;
                    background: red;
                    cursor: pointer;
                    color: white;
                    border-style: none;
                    border-radius: 20px;
                    font-size: 16px;
                    box-shadow: 0 0 3px 2px rgb(255, 255, 255);
                    font-weight: 600;

                    p {
                        margin: 8px 14px 8px 14px;
                    }

                    &:hover {
                        background: rgb(229, 2, 2);
                        transform: scale(0.9);
                    }

                }

                .product__delete-icon {
                    position: relative;
                    display: flex;
                    font-size: 40px;
                    margin-left: 380px;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

}

.content-blur {
    display: none;
    opacity: 0.2;
}

.content-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 500px;
    background: rgb(243, 178, 26);
    width: 600px;
    height: 400px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

@media screen and (max-width: 540px) {
    .content-container {
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .prodcut-list__none {
        display: none;
    }

    .leftBar__container {
        display: none;
        margin: 0 !important;
    }

    .open {
        display: flex;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .product-container {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        flex-direction: column;
        margin-top: 20px !important;
        width: 100%;

    }

    .product-object-button-remove {
        display: flex;
        position: relative;
        bottom: 30px;
    }
}