.content-container {
    display: flex;
    height: 2000px;
    width: 100%;

    .leftBar__container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        border: 2px solid rgb(161, 159, 159);
        border-left: none;
        border-top: none;
        border-bottom: none;
        width: 30%;
        height: 600px;
        margin-top: 80px;

        h3 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 10px;
            margin-top: 40px;
        }

        ul {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
            border: 2px solid rgb(61, 60, 60);
            border-right: none;
            border-left: none;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 15px;
                font-weight: 750;
                margin-top: 30px;
                cursor: pointer;

                input {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }


    .product-list {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 1200px;
        overflow: auto;

        .product-container {
            .product-object {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                width: 300px;
                border: 2px solid rgb(181, 181, 187);
                border-radius: 20px;
                margin-left: 100px;
                background: white;
                height: 520px;


                .product-object__list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        display: flex;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 16px;
                        margin-left: 200px;
                    }

                    .product-object__hr {
                        width: 200px;
                        border: 2px solid black;
                    }

                    img {
                        display: flex;
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }

                }

                .product__add-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                    width: 150px;
                    height: 40px;
                    background: rgb(247, 213, 62);
                    cursor: pointer;
                    color: white;
                    border-style: none;
                    border-radius: 20px;
                    font-size: 16px;
                    box-shadow: 0 0 3px 2px rgb(255, 255, 255);
                    font-weight: 600;

                    &:hover {
                        background: rgb(252, 219, 69);
                        transform: scale(0.9);
                    }
                }

                .product__delete-icon {
                    position: relative;
                    display: flex;
                    font-size: 40px;
                    margin-left: 380px;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

}