.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(255, 221, 0);
    height: 100px;
    justify-content: space-around;
    position: absolute;
    top: 0;
    color: white;

    .header-logo {
        display: flex;
        width: 300px;
        height: 60px;
    }

    .input-group {
        display: flex;
        width: 600px !important;

        span {
            font-size: 30px;
            color: black;
            cursor: pointer;
        }
    }

    .header__basket {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 220px;
        height: 82px;
        border-radius: 10px;
        background: rgb(236, 204, 0);
        font-weight: 600;

        .header__amount {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 20px;
            bottom: 15px;
            background: rgb(0, 208, 255);
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        ul {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
            height: 250px;
        }

        .header__icon {
            color: white;
            cursor: pointer;
            font-size: 50px;
        }

        &:hover {
            background: rgb(213, 185, 2);
        }
    }

}

.basket-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 789px;
    background: rgb(203, 203, 203);
    position: relative;
    top: 680px;
    left: 940px;
    z-index: 2;
    color: black;

    h2 {
        margin-top: 20px;
    }

    .basket-modal__box {
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 480px;
        overflow: auto;

        padding: 20px;

        .basket-modal__list {

            .basket-modal__list-top {
                background: white;
                display: flex;
                align-items: center;
                padding: 20px;
                justify-content: flex-start;
                height: 140px;
                margin-top: 10px;

                p {
                    margin-top: 30px;
                    margin-left: 20px;
                }
            }

            .basket-modal__list-alt {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .count-controls {
                    margin-left: 80px;
                }
            }

            .basket-modal__list-amount {
                margin-top: 20px;
            }

            img {
                width: 100px;
                height: 100px;
            }

            button {
                width: 60px;
                height: 30px;
                border-style: none;
                border-radius: 20px;
            }

            .basket-modal__list-icon {
                cursor: pointer;
                margin-left: 20px;
                font-size: 30px;
                color: red;

                &:hover {
                    color: rgb(255, 54, 54);
                }
            }

        }
    }


    .basket-model__close {
        cursor: pointer;
        border-style: none;
        width: 160px;
        height: 60px;
        font-weight: 750;
        color: white;
        background: rgb(255, 179, 0);
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            background: rgb(255, 225, 73);
        }
    }
}

.header-blur {
    opacity: 0.2;
}